@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

/* CSS DO FOOTER */

.footer_logo {
    width: 12%;
    height: 12%;
    margin-right:60px;
    margin-left:8%;
}

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

footer{
background-color: var(--CorPrimaria);
padding: 50px 0;

}

.container-footer{

max-width: 100%;
padding: 0 4%;
margin:auto;
}
.container-footer2{

max-width: 100%;
padding: 0 4%;
margin:auto;
justify-content: left;
align-items:center;

}

.row-footer{
display:flex;
flex-wrap:wrap;
}

.footer-col{
width:25%;
padding: 0 15px;
}

.footer-col ul{

list-style:disc;
margin-top:10px;
}

.footer-col ul li a{
font-size:20px;
font-weight: bold;
font-family: 'Gabarito', sans-serif;
text-transform: capitalize;
color: rgb(0, 0, 0);
text-decoration:none;
font-weight: 300;
transition:all 0.3s;
padding: 0%;
}

.footer-col ul li a:hover{
color:rgb(255, 255, 255);
padding-left:10px;
}


.footer-col .medias-sociais {
margin-top:15px;
}

.footer-col .medias-sociais a{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    height: 40px;
    width:40px;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    color:black;
    border:2px solid black;
     

}
#titulofooter{
    color:white;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 35px;
}

#endereco{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;


}

input{
    font-size: 12px;
    width:210px;
    height:30px;
}